$color-primary: black;
$color-secondary: red;

$font-primary: 'Arial', sans-serif;
$font-secondary: 'Verdana', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-primary;
  font-family: sans-serif;
} 

.container {
  display: flex;
  justify-content: space-around;

  .box {
    width: 30%;
    color: black;
    background-color: white;
    border-radius: 8px;
    padding: 20px;

    &.active {
      background: $color-secondary;
    }

    h2 {
      font-size: 22px;
      margin: 10px 20px 30px 20px;
      font-family: $font-primary;
    }

    p{
      font-family: $font-secondary;
      font-size: 18px;
      &.hidden {
        display: none;
      }
    }

    a {
      color: green;

      &:hover {
        color: yellow;

        & + p.hidden {
          display: block;
        }
      }
    }
  }
}