
.container {
    background-color: silver;
    display:flex;
    flex-direction: row;
}

.caixa {
    width: 300px;
    height: 100px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}